.header {
  width: 100%;
  border-bottom: 1px solid #f2f4f7;
  background-color: #ffffff;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 64px;
  display: flex;
  align-items: center;
}

.brand {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}